extends layouts/layout.pug

block content
  main.articles-category
    h1= currentCategory.title
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          li.themes__item
            a.themes__item-link(href=`/articles/category/${category.id}`,
              class= currentCategory.id === category.id ? `themes__item-link--active` : ``)= category.title
              sup= category.articlesCount
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each article in articles
          include _card-article.pug
      if pagination.isActive
        .preview__toggle-wrapper
          ul.preview__pagination.pagination
            li
              a(href=`/articles/category/${currentCategory.id}/?page=${pagination.prev.page}`, aria-label="Страница назад",
                class=`pagination__button button button--backwards ${pagination.prev.status ? `` : `button--disabled`}`) Назад
            each item in pagination.pages
              li(class=`pagination__item ${item.isActive ? `pagination__item--active` : ``}`)
                if item.isActive
                  a= item.page
                else
                  a(href=`/articles/category/${currentCategory.id}/?page=${item.page}`)= item.page
            li
              a(href=`/articles/category/${currentCategory.id}?page=${pagination.next.page}`, aria-label="Страница вперёд",
                class=`pagination__button button button--forward ${pagination.next.status ? `` : `button--disabled`}`) Вперед
