extends layouts/layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p.
      Это приветственный текст владельца блога 👏!
    section.main-page__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          if category.articlesCount > 0
            li.themes__item
              a.themes__item-link(href=`/articles/category/${category.id}`)= category.title
                sup= category.articlesCount
    .main-page__section-flex
      section.main-page__hot.hot
        h2.hot__name
          | Самое обсуждаемое
          span.hot__icon.hot__icon--fire
        if !popularArticles || popularArticles.length === 0
          p Здесь пока ничего нет
        else
          ul.hot__list
            each article in popularArticles
              li.hot__list-item
                a.hot__list-link(href=`/articles/${article.id}`)= article.announce.length > 100 ? `${article.announce.slice(0, 100)}...` : article.announce
                  sup.hot__link-sup= article.commentsCount
      section.main-page__last.last
        h2.last__name
          | Последние комментарии
          span.last__icon.last__icon--cloud
        if !lastComments || lastComments.length === 0
          p Здесь пока ничего нет
        else
          ul.last__list
            each comment in lastComments
              li.last__list-item
                img.last__list-image(src='/img/avatar-small-1.png', width='20', height='20', alt='Аватар пользователя')
                b.last__list-name= `${comment.author.name} ${comment.author.surname}`
                if comment.text
                  a.last__list-link(href=`/articles/${comment.article.id}`)= comment.text.length > 100 ? `${comment.text.slice(0, 100)}...` : comment.text
    section.main-page__list.preview
      h2.visually-hidden Список превью статей
      if !articles || articles.length === 0
        .main-page__empty-wrapper
          p.main-page__empty-text Здесь пока пусто!
      ul.preview__list
        each article in articles
          li.preview__item.preview__item--noimage
            ul.preview__breadcrumbs
              each category in article.categories
                li.preview__breadcrumbs-item
                  a.preview__breadcrumbs-link(href=`category/${category.id}`)= category.title
            time.preview__time(datetime=article.date_create)= article.date_create
            h3.preview__name
              a.preview__name-link(href=`/articles/${article.id}`)= article.title
            p.preview__text= article.announce
            a.preview__comment(href=`/articles/${article.id}`)
              | Комментарии
              span.preview__cloud
              |
              b.preview__comment-count= (article.comments || []).length
      if pagination.isActive
        .preview__toggle-wrapper
          ul.preview__pagination.pagination
            li
              a(href=`/?page=${pagination.prev.page}`, aria-label="Страница назад",
                class=`pagination__button button button--backwards ${pagination.prev.status ? `` : `button--disabled`}`) Назад
            each item in pagination.pages
              li(class=`pagination__item ${item.isActive ? `pagination__item--active` : ``}`)
                if item.isActive
                  a= item.page
                else
                  a(href=`/?page=${item.page}`)= item.page
            li
              a(href=`/?page=${pagination.next.page}`, aria-label="Страница вперёд",
                class=`pagination__button button button--forward ${pagination.next.status ? `` : `button--disabled`}`) Вперед
